<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Planner style template</title>
  <link rel="stylesheet" type="text/css" href="./src/styles.css">
</head>

<!-- app-component -->

<body>
  <div class="columns__container">
    <div class="columns__column">
      <div class="columns__section bg-offwhite">
        <!-- itemlist column -->
        <div class="columns__header bg-orange">
          <h1>Journal</h1>
        </div>
        <div class="searchbar">
          <input type="text" placeholder="Search name, tags, date...">
        </div>
        <div class="column__subsection">
          <!-- itemlist container -->
          <div class="item item__selected flex-container">
            <!-- itemlist item -->
            <div>
              <h3 class="">Item 2</h3>
              <div class="flex-container flex-wrap item_tags small">
                <span>Clicking</span>
                <span>on</span>
                <span>these</span>
                <span>tags</span>
                <span>will</span>
                <span>fire</span>
                <span>off</span>
                <span>a</span>
                <span>search</span>
                <span>in</span>
                <span>the</span>
                <span>leftmost</span>
                <span>pane</span>
              </div>
            </div>
            <div class="item_date">
              <!-- date component? -->
              <p>10</p>
              <p>16</p>
              <p>95</p>
            </div>
          </div>
          <div class="item flex-container">
            <div class="flex-fill">
              <h3>Item 3 Searches happen server side</h3>
              <div class="flex-container flex-wrap item_tags small">
                <span>maybe tag filtering happens locally?</span>
              </div>
            </div>
            <div class="item_date">
              <p>01</p>
              <p>16</p>
              <p>20</p>
            </div>
          </div>
          <div class="item flex-container">
            <div class="flex-fill">
              <h3>Thought of a cool thing to write about today</h3>
              <div class="flex-container flex-wrap item_tags small">
                <span>journal stuff</span>
              </div>
            </div>
            <div class="item_date">
              <p>01</p>
              <p>16</p>
              <p>20</p>
            </div>
          </div>
          <div class="item flex-container">
            <div class="flex-fill">
              <h3>This is an item title</h3>
              <div class="flex-container flex-wrap item_tags small">
                <span>maybe tag filtering happens locally?</span>
              </div>
            </div>
            <div class="item_date">
              <p>01</p>
              <p>16</p>
              <p>20</p>
            </div>
          </div>
          <div class="item flex-container">
            <div class="flex-fill">
              <h3>Item 78</h3>
              <div class="flex-container flex-wrap item_tags small">
                <span>Tag</span>
                <span>click</span>
                <span>on </span>
                <span>me</span>
              </div>
            </div>
            <div class="item_date">
              <p>06</p>
              <p>12</p>
              <p>18</p>
            </div>
          </div>
          <div class="item flex-container">
            <div class="flex-fill">
              <h3>Item 8912397123123</h3>
              <div class="flex-container flex-wrap item_tags small">
                <span>maybe tag filtering happens locally?</span>
              </div>
            </div>
            <div class="item_date">
              <p>01</p>
              <p>16</p>
              <p>20</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MIDDLE PANE -->
    <div class="columns__column">
      <div class="columns__section bg-offwhite">
        <!-- journal column -->

        <div class="columns__header bg-orange">
          <h1>Item 2</h1>
        </div>
        <div class="column__subsection">
          <div class="column__subsection__content">

            <div class="item_date">
              <p>10</p>
              <p>16</p>
              <p>95</p>
            </div>
            <div class="item_body">
              <p>Curabitur tempor sed urna aliquet tincidunt. Vivamus et sollicitudin odio, ac
                commodo libero. Etiam tellus nisi, aliquam non ex eu, interdum pretium justo. Sed aliquet a metus sed
                dictum. Nullam sit amet pellentesque orci, ut ornare leo. Duis et velit ac ipsum dignissim tempus vel
                eget
                augue. Phasellus vitae eleifend sem. Integer nec ultrices justo.</p>
            </div>

            <div class="item_tags flex-container flex-wrap">
              <span>Clicking</span>
              <span>on</span>
              <span>these</span>
              <span>tags</span>
              <span>will</span>
              <span>fire</span>
              <span>off</span>
              <span>a</span>
              <span>search</span>
              <span>in</span>
              <span>the</span>
              <span>leftmost</span>
              <span>pane</span>
            </div>

            <div class="item_references">
              <div class="parent" id="item_parent">
                <h3>Parent</h3>
                <span class="item_link">Item 3 Longer Item Title Would Go Here</span>
              </div>
              <div class="children" id="item_children">
                <h3>Children</h3>
                <ul>
                  <li class="item_link">Item 5</li>
                  <li class="item_link">Item 6</li>
                  <li class="item_link">Item 1</li>
                  <li class="item_link">Item 8</li>
                  <li class="item_link">Item 7</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- RIGHT PANE -->
    <div class="columns__column">
      <div class="flex-container flex-vertical fullheight">
        <div class="columns__section bg-offwhite">
          <!-- reminders column -->
          <div class="columns__header bg-orange">
            <h1>Reminders</h1>
            <!-- The reminders column will have a pane at the top (content height) for general (no due date?) reminders
        and the bottom pane will be for context-relative items. The top pane has no subheading, the bottom pane has a title (matching the context? Is that useful?)
        and will have a stretch to fill height -->
          </div>
          <div class="flex-container flex-vertical fullheight">

            <div class="column__subsection">
              <!-- reminder subsection -->
              <div class="column__subsection__content">
                <ul class="reminders__incomplete">
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_1">
                    <label for="reminder_1">Get a haircut</label>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_2">
                    <label for="reminder_1">Walk the dog</label>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_3">
                    <label for="reminder_1">Put a fold-out button on this</label>
                    <ul class="reminders__subreminders">
                      <li class="reminders__reminder">
                        <input type="checkbox" id="subreminder_3-1">
                        <label for="subreminder_3-1">Add subreminders</label>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="reminders__complete" id="reminders_completed">
                  <label for="reminders_completed">completed -- like grayed out or something, sort on pageload, drag
                    to
                    reorder?</label>
                  <li>
                    <input type="checkbox" id="reminder_4">
                    <label for="reminder_4">Add completed</label>
                  </li>
                  <li>
                    <input type="checkbox" id="reminder_5">
                    <label for="reminder_4">Add completed</label>
                  </li>
                  <li>
                    <input type="checkbox" id="reminder_6">
                    <label for="reminder_4">Add completed</label>
                  </li>
                  <li>
                    <input type="checkbox" id="reminder_7">
                    <label for="reminder_4">Add completed</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="column__subsection flex-fill">
              <!-- reminder date subsection -->
              <div class="column__subsection__header bg-orange">
                <h2>January, 2021 <span>></span></h2>
              </div>
              <div class="column__subsection__content">
                <ul class="reminders__incomplete">
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_1">
                    <label for="reminder_1">Make this into sections divided by day/week/something</label>
                    <ul class="reminders__subreminders">
                      <li class="reminders__reminder">
                        <input type="checkbox" id="subreminder_3-1">
                        <label for="subreminder_3-1">Nice subheadings</label>
                      </li>
                    </ul>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_2">
                    <label for="reminder_1">Walk the dog</label>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_3">
                    <label for="reminder_1">Feed the cat</label>
                  </li>
                </ul>
                <ul class="reminders__complete">
                  <li>
                    <input type="checkbox" id="reminder_4">
                    <label for="reminder_4">Sleep</label>
                  </li>
                </ul>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <!-- Look into a fixed header with 100% content length with top margin -->

        <div class="columns__section flex-no-grow bg-offwhite">
          <!-- calendar column-->
          <div class="columns__header bg-orange with-button-group">
            <div class="flex-container">
              <button class="flex__column-4rem flex-button border-right" (click)="goBack()">←</button>
              <h1 class="flex-fill">January, 2021</h1>
              <button class="flex__column-4rem flex-button border-left" (click)="goForward()">→</button>
            </div>
            <div class="button-group no-sides round-bottom">
              <button (click)="setYear()">Year</button>
              <button (click)="setMonth()">Month</button>
              <button (click)="setWeek()">Week</button>
            </div>
          </div>
          <div class="cal_month" *ngIf="state === calView.month">
            <!-- <div class="calTable__title">
            <h3>
              Monthly view
            </h3>
          </div> -->

            <!-- <div class="cal__month_row"
            *ngFor="let row of monthRows">
            <div class="cal__month_col"
              *ngFor="let col of row"
              (click)="selectDay(col)">
                {{col}}
            </div>
          </div> -->

            <table class="cal_table">
              <tr class="cal_th_7">
                <th>Sun</th>
                <th>Mon</th>
                <th>Tues</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
              </tr>
              <tr>
                <td class="cal_table-cell month">1</td>
                <td class="cal_table-cell month">2</td>
                <td class="cal_table-cell month">3</td>
                <td class="cal_table-cell month">4</td>
                <td class="cal_table-cell month">5</td>
                <td class="cal_table-cell month">6</td>
                <td class="cal_table-cell month">7</td>
              </tr>
              <tr>
                <td class="cal_table-cell month today">8</td>
                <td class="cal_table-cell month">9</td>
                <td class="cal_table-cell month">10</td>
                <td class="cal_table-cell month">11</td>
                <td class="cal_table-cell month">12</td>
                <td class="cal_table-cell month">13</td>
                <td class="cal_table-cell month">14</td>
              </tr>
              <tr>
                <td class="cal_table-cell month">15</td>
                <td class="cal_table-cell month">16</td>
                <td class="cal_table-cell month">17</td>
                <td class="cal_table-cell month">18</td>
                <td class="cal_table-cell month">19</td>
                <td class="cal_table-cell month">20</td>
                <td class="cal_table-cell month">21</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>