<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Planner style template</title>
  <link rel="stylesheet" type="text/css" href="./src/styles.css">
</head>

<body>
  <div class="columns__container">
    <div class="columns__column">
      <div class="columns__section bg-offwhite">

        <div class="columns__header bg-orange">
          <h1>Items</h1>
        </div>
        <div class="columns__content">
          <div class="item">
            <h3>Item 1</h3>
            <span class="date">Jan 10, 2020</span>
            <h6>tags?</h6>
          </div>
          <div class="item item__selected">
            <h3>Item 2</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
          <div class="item">
            <h3>Item 3</h3>
            <span class="date">Jan 10, 2020</span>
          </div>
        </div>
      </div>
    </div>
    <div class="columns__column">
      <div class="columns__section bg-offwhite">

        <div class="columns__header bg-orange">
          <h1>Item 2</h1>
        </div>
        <div class="item_info">
          <div class="item_date">
            10
            16
            95
          </div>
          <div class="item_tags">
            <ul>
              <li>plans</li>
              <li>plans</li>
              <li>plans</li>
              <li>plans</li>
              <li>plans</li>
              <li>plans</li>
              <li>plans</li>
            </ul>
          </div>
        </div>
        <div class="item_body">
          <p>Curabitur tempor sed urna aliquet tincidunt. Vivamus et sollicitudin odio, ac
            commodo libero. Etiam tellus nisi, aliquam non ex eu, interdum pretium justo. Sed aliquet a metus sed
            dictum. Nullam sit amet pellentesque orci, ut ornare leo. Duis et velit ac ipsum dignissim tempus vel eget
            augue. Phasellus vitae eleifend sem. Integer nec ultrices justo.</p>
        </div>
        <!-- <div class="cal_week" *ngIf="state === calView.week">
        <table>
          <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thur</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
          <tr>
            <td *ngFor="let item of weekDays" class="cal_table-cell week">
              {{item.day}}
            </td>
          </tr>
        </table>
      </div> -->
      </div>
    </div>
    <div class="columns__column">
      <div class="flex-container flex-vertical fullheight">
        <div class="columns__section bg-offwhite">
          <div class="columns__header bg-orange">
            <h1>Reminders</h1>
            <!-- The reminders column will have a pane at the top (content height) for general (no due date?) reminders
        and the bottom pane will be for context-relative items. The top pane has no subheading, the bottom pane has a title (matching the context? Is that useful?)
        and will have a stretch to fill height -->
          </div>
          <div class="flex-container flex-vertical fullheight">

            <div class="list-card">
              <div class="list-card__content">
                <ul class="reminders__incomplete">
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_1">
                    <label for="reminder_1">Get a haircut</label>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_2">
                    <label for="reminder_1">Walk the dog</label>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_3">
                    <label for="reminder_1">Feed the cat</label>
                  </li>
                </ul>
                <ul class="reminders__complete" id="reminders_completed">
                  <label for="reminders_completed">completed -- like grayed out or something, sort on pageload, drag to
                    reorder?</label>
                  <li>
                    <input type="checkbox" id="reminder_4">
                    <label for="reminder_4">Sleep</label>
                  </li>
                </ul>
              </div>
              <!-- </div> -->
            </div>
            <div class="list-card flex-fill">
              <!-- <div class="columns__content"> -->
              <div class="list-card__header bg-orange">
                <h2>January, 2021 <span>></span></h2>
              </div>
              <div class="list-card__content">
                <ul class="reminders__incomplete">
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_1">
                    <label for="reminder_1">Get a haircut</label>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_2">
                    <label for="reminder_1">Walk the dog</label>
                  </li>
                  <li class="reminders__reminder">
                    <input type="checkbox" id="reminder_3">
                    <label for="reminder_1">Feed the cat</label>
                  </li>
                </ul>
                <ul class="reminders__complete">
                  <li>
                    <input type="checkbox" id="reminder_4">
                    <label for="reminder_4">Sleep</label>
                  </li>
                </ul>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <!-- Look into a fixed header with 100% content length with top margin -->

        <div class="columns__section flex-no-grow bg-offwhite">

          <div class="columns__header bg-orange with-button-group">
            <div class="flex-container">
              <button class="flex__column-4rem flex-button border-right" (click)="goBack()">←</button>
              <h1 class="flex-fill">January, 2021</h1>
              <button class="flex__column-4rem flex-button border-left" (click)="goForward()">→</button>
            </div>
            <div class="button-group no-sides round-bottom">
              <button (click)="setYear()">Year</button>
              <button (click)="setMonth()">Month</button>
              <button (click)="setWeek()">Week</button>
            </div>
          </div>
          <div class="cal_month" *ngIf="state === calView.month">
            <!-- <div class="calTable__title">
            <h3>
              Monthly view
            </h3>
          </div> -->

            <!-- <div class="cal__month_row"
            *ngFor="let row of monthRows">
            <div class="cal__month_col"
              *ngFor="let col of row"
              (click)="selectDay(col)">
                {{col}}
            </div>
          </div> -->

            <table class="cal_table">
              <tr class="cal_th_7">
                <th>Sun</th>
                <th>Mon</th>
                <th>Tues</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
              </tr>
              <tr>
                <td class="cal_table-cell month">1</td>
                <td class="cal_table-cell month">2</td>
                <td class="cal_table-cell month">3</td>
                <td class="cal_table-cell month">4</td>
                <td class="cal_table-cell month">5</td>
                <td class="cal_table-cell month">6</td>
                <td class="cal_table-cell month">7</td>
              </tr>
              <tr>
                <td class="cal_table-cell month today">8</td>
                <td class="cal_table-cell month">9</td>
                <td class="cal_table-cell month">10</td>
                <td class="cal_table-cell month">11</td>
                <td class="cal_table-cell month">12</td>
                <td class="cal_table-cell month">13</td>
                <td class="cal_table-cell month">14</td>
              </tr>
              <tr>
                <td class="cal_table-cell month">15</td>
                <td class="cal_table-cell month">16</td>
                <td class="cal_table-cell month">17</td>
                <td class="cal_table-cell month">18</td>
                <td class="cal_table-cell month">19</td>
                <td class="cal_table-cell month">20</td>
                <td class="cal_table-cell month">21</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>