<div class="columns__header bg-orange">
    <h1>Items</h1>
</div>
<div class="columns__content">
    <form [formGroup]="itemForm">
        <label for="item_title">Title</label>
        <input id="item_title" type="text" formControlName="title">

        <label for="item_note">Note</label>
        <textarea id="item_note" formControlName="note"></textarea>

        <ul>
            <li>
                <input id="item_cal" type="checkbox" formControlName="cal">
                <label for="item_cal">Is Cal Item?</label>
            </li>
            <li>
                
                <input id="item_journal" type="checkbox" formControlName="journal">
                <label for="item_journal">Is Journal Item?</label>
            </li>
            <li>
                <input id="item_todo" type="checkbox" formControlName="todo">
                <label for="item_todo">Is Todo Item?</label>
            </li>
        </ul>
    </form>
    <button (click)="save_item()">Save</button>
</div>
  