<div class="columns__container">
  <div class="columns__column">
    <item-list class="columns__section bg-offwhite" [items]="items"></item-list>
  </div>
  <!-- <item-list class="columns__column bg-offwhite" [items]="items" (itemSelected)="selectItem($event)"
    (itemDeleted)="deleteItem($event)"></item-list> -->

  <div class="columns__column">
    <!-- <journal-column class="columns__section bg-offwhite"></journal-column> -->
    <rec-list></rec-list>
  </div>
  <div class="columns__column">
    <div class="flex-container flex-vertical fullheight">
      <div class="columns__section bg-offwhite">
        <reminders></reminders>
      </div>
      <div class="columns__section flex-no-grow bg-offwhite">
        <cal-column></cal-column>
      </div>
    </div>
  </div>
  <!-- Look into a fixed header with 100% content length with top margin -->
</div>

<router-outlet></router-outlet>